.floating-form {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.form-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.close-icon,
.delete-icon {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  margin-left: 10px;
}

.close-icon:hover,
.delete-icon:hover {
  color: orange;
}

.floating-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 165, 0, 0.5);
  transition: border-color 0.3s ease;
}

.floating-input:hover,
.floating-input:focus {
  border-color: orange;
}

.floating-button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.outline-button {
  background-color: transparent;
  border: 2px solid orange;
  color: orange;
}

.outline-button:hover {
  background-color: orange;
  color: white;
}

.floating-button.cancel {
  background-color: transparent;
  border: 1px solid orange;
}

.floating-button.cancel:hover {
  background-color: orange;
}
